[Unit]
Description=Aquarium Sensors - MQTT publisher
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/aquarium2/2.02/aq_sensors.py
Restart=on-abort

[Install]
WantedBy=multi-user.target

