[Unit]
Description=Aquarium Sensors - flask web server
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/aquarium2/2.02_flask/app_aq_sensors.py
Restart=on-abort

[Install]
WantedBy=multi-user.target

